<section class="centered">
	<h1>
		<%= @test.name %></h1>
	<h2>Test zur Selbsteinschätzung</h2>
	<p>
		<%= @test.description %></p>

	<%
	@status = (@current_user.started_test? @test)?(@current_user.completed_test? @test)? :done : :resume : :none
    if @status == :done
		@appell = "Ergebnisse ansehen"
    elsif @status == :resume
		@appell = "Weiter machen"
    else
		@appell = "Starten"
    end
%>

	<% unless @status == :done %>
		<%= link_to @appell, (@test.resume_test_path(@user) || test_questions_path(@test)), :class =>
		"btn btn-primary" %>
		<% else %>

		<h2>Ergebnisse</h2>

		<% users_test_answers = @user.grouped_answers_for(@test) %>
		<% users_test_answers.keys.sort.each do |question_id| %>
		   		<% 
		   			question = Question.find(question_id) 
		   			correct = question.correct_answer_from? @user
		   			users_answers_for_question = users_test_answers[question_id]
		   		%>
					<%= render :partial => "question_explanation", :locals => {
							:question => question, 
							:correct => correct, 
							:users_answers_for_question => users_answers_for_question
						} 
					%>
		<% end %>	

	<% end %>

	<%= link_to "Zurück zur Übersicht", root_url, class: "btn btn-info" %>

	<section>