<div class="question_type_text"><%=editable_text "question.type.help.mapping"%></div>

<%=form_tag create_multiple_vorkurs_test_replies_path, method: :post do %>
	<ol class="answers">
	  <% @question.answers.each do |answer| %>
	  	<%=label_tag "answer_ids_#{answer.id}" do %>
	  		<%= check_box_tag "answer_ids[]", answer.id, false, id: "answer_ids_#{answer.id}", class: "#{answer.text.split("-").join(" ")} #{answer.text}" %>
	  		<%=answer.text.html_safe %>
	  	<%end%>
	  <% end %>
	</ol>

	<%= link_to "Später fortsetzen", root_url, class: "btn btn-info" %>
	<%= hidden_field_tag "question_id", @question.id %>
	<%= submit_tag "Weiter" %>
<% end %>