<section class="question">
<h2>Frage <% if current_user.admin?%><%=link_to "[Bearbeiten]", edit_admin_question_path(@question), target: "_blank" %><%end%></h2>
<p class="text"><%=raw @question.markdown_text %></p>

Todo: im Show sollte dieses Ding zwischen den div. Question_type unterscheiden. Bei Multiselect sollte er ein Formular anzeigen und direkt auf question.vorkurs_test.resume_test_path(user) || vorkurs_test_path(question.vorkurs_test_id) verweisen, wass dann wiederum im Controller die Replies erzeugt. Oder ich sende sie per REST und Javascript hin... weiß noch nich

<h3>Antworten</h3>
<ol>
  <% @question.answers.each do |answer| %>
    <li><%= link_to answer.text.html_safe, vorkurs_test_replies_path(answer_id: answer.id), method: :post %></li>
  <% end %>
</ol>

<%= link_to "Später fortsetzen", root_url, class: "btn btn-info" %>
<%= link_to "Später fortsetzen", root_url, class: "btn btn-info" %>

<div class="progress progress-striped">
  <div class="bar" style="width: <%= @user.grouped_answers_for(@test).count * 100 / @test.questions.count %>%;"></div>
</div>
</section>
