<section id="downloads" class="centered">
  <h1>Downloads</h1>
  <%="Es wurden noch keine Dokumente zur Verfügung gestellt." if @downloads.empty?%>
  <% @downloads.each do |download| %>
    <%= render download %>
  <% end %>
</section>

<section id="uploads" class="centered well">
	<h2>Bereitstellen</h2>
	<%=form_for @upload, :html => {:multipart => true} do |f| %>
	<dl class="dl-horizontal">
		<%=f.label :name do %>
			<dt>Name:</dt> <dd><%=f.text_field :name %></dd>
		<%end%>
		<%=f.label :file do %>
			<dt>Datei:</dt> <dd><%=f.file_field :file %></dd>
		<%end%>
		<%=f.label :remote_file_url do %>
			<dt>Von URL laden:</dt> <dd><%=f.text_field :remote_file_url %></dd>
		<%end%>
		<dd><%=f.submit "Upload"%></dd>
	</dl>
	<% end %>
</section>
