<section id="downloads" class="centered">
  <h1>Downloads</h1>
  <%="Es wurden noch keine Dokumente zur Verfügung gestellt." if @downloads.empty?%>
  <% @downloads.each do |download| %>
    <%= render download %>
  <% end %>


  <h1>Videos</h1>
  <%="Es wurden noch keine Videos zur Verfügung gestellt." if @videos.empty?%>
  <% @videos.each do |video| %>
    <%= render "downloads/video", video:video%>
  <% end %>
</section>

<% if @is_allowed_to_upload %>
	<section id="uploads" class="centered well">
		<h2>Dokument Bereitstellen</h2>
		<%=form_for @upload, :html => {:multipart => true} do |f| %>
		<dl class="dl-horizontal">
			<%=f.label :name do %>
				<dt>Name:</dt> <dd><%=f.text_field :name %></dd>
			<%end%>
			<%=f.label :file do %>
				<dt>Datei:</dt> <dd><%=f.file_field :file %></dd>
			<%end%>
			<%=f.label :remote_file_url do %>
				<dt>Von URL laden:</dt> <dd><%=f.text_field :remote_file_url %></dd>
			<%end%>
			<dd><%=f.submit "Upload"%></dd>
		</dl>
		<% end %>
	</section>
<%end%>

<% if @is_allowed_to_upload_videos %>
	<section id="uploads" class="centered well">
		<h2>Video Bereitstellen</h2>
		<%=form_for Video.new do |f| %>
		<dl class="dl-horizontal">
			<%=f.label :remote_file_url do %>
				<dt>Mediaweb URL:</dt> <dd><%=f.text_field :mediaweb_url %></dd>
			<%end%>
			<dd><%=f.submit "Upload"%></dd>
		</dl>
		<% end %>
	</section>
<%end%>