<%= form_for @user do |f| %>
  <h1>Account</h1>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%= ie { f.label :email, "E-Mail" } %>
	<%= f.label :email, "E-Mail-Adresse"%>
	<%= f.email_field :email, :placeholder => "E-Mail" %>
	<%= f.label :degree_program_ids, "Interessiert an"%>
	<%= f.grouped_collection_select :degree_program_ids, Faculty.order(:name), :degree_programs, :name, :id, :name, {}, {multiple: true, :'data-placeholder' => "Interessiert an Studiengängen", :'data-class' => "input"} %>
	<% unless (@user.preregistered? && Settings.mode == "preregistration") %>
		<%= f.label :name, "Name"%>
		<%= f.text_field :name %>
		<%= f.label :password, "Neues Password" %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, "Neues Password wiederholen" %>
		<%= f.password_field :password_confirmation %>
		<h2> Aktuell gültige Kursanmeldungen </h2>
		<ul>
			<% if @user.enrollments.count > 0 %>
				<% @user.enrollments.each do |e| %>
					<li>
						<%= e.course.title %> (angemeldet <%=e.updated_at().strftime("am %d.%m.%Y um %H:%M Uhr") %>)
						<%= link_to "abmelden", [e.course, e], method: :delete, confirm: "Wollen Sie sich wirklich vom Kurs #{e.course.title} abmelden?", class: "btn" %>
					</li>
				<% end %>
			<% else %>
				<li>Derzeit für keinen Kurs angemeldet.</li>
			<% end %>
		</ul>

		
		<% if @user.enrollments.unregistered.count > 0 %>
			<h2> Vergangene abmeldungen </h2>
			<ul>
			<% @user.enrollments.unregistered.each do |e| %>
				<li>
					<%= e.course.title %> abgemeldet <%=e.updated_at().strftime("am %d.%m.%Y um %H:%M Uhr") %> 
				</li>
			<% end %>
			</ul>
		<% end %>
		<%= f.hidden_field :role, :value => [User::ROLES[:registered], @user.role].max %>
	<% end %>
	</br>
	<%= f.submit "Änderungen Speichern", :class => "btn btn-primary" %>
  <%= link_to "Account permanent löschen", @user, :method => :delete, 
    :confirm => "Achtung! Account wirklich löschen?", :class => "btn btn-danger" %>
<% end %>
