<div>	
	<% if @user.nil? %>
		<h2>Schritt 1</h2>

		<a href="/users/new" class="btn btn-block">Neu Registrieren</a>
		<div class="or">oder</div>
		<div class="login">
			<%=render 'sessions/login'%>
		</div>
	<% elsif @user.preregistered? %>
		<h2>Schritt 1</h2>

		<p>Vorregistriert mit der E-Mail-Adresse: <b><%=@user.email%></b></p>
		<p><%=link_to "Vervollständigen Sie jetzt ihren Account!", edit_user_path(@user.id), class:"btn btn-info" %></p>
	<% elsif @user.registered? || @user.role > User::ROLES[:registered] %>
		<h2>Schritt 1 <span class="check">&#x2714;</span></h2>
		Hallo<%=(@user && @user.name)? raw(" <b>#{@user.name}</b>"): ''%>,
		<p>Registriert mit der E-Mail-Adresse: <b><%=@user.email%></b></p>
		<p><%=link_to "Hier können Sie ihre Angaben ändern", edit_user_path(@user.id), class:"btn btn-info" %></p>
	<% end %>
</div>


<% #Step 2
if @user.nil? || @user.preregistered?
	@disabled = "disabled" 
end
%>
<div class="<%=@disabled %>-step step2">
	<h2>Schritt 2 <%if((!@user.nil?) && (@user.completed_all_tests?))%><span class='check'>&#x2714;</span><% end %> </h2>
	<p>Machen Sie beide Selbsteinschätzungstests:</p>
	<% 	VorkursTest.all.each do |test| 

			@status = ((!@current_user.nil?) && (@current_user.started_test? test))?(@current_user.completed_test? test)? :done : :resume : :none
		    if @status == :done
				@bootstrap_class = "success"
				@appell = "Ergebnisse ansehen"
				@result = @user.test_result test
		    elsif @status == :resume
				@bootstrap_class = "warning"
				@appell = "Weiter machen"
				@result = nil
		    else
				@bootstrap_class = "danger"
				@appell = "Los geht's"
				@result = nil
		    end

			%>
			<div class="vorkurstest">
				<%=link_to (raw "#{test.name} &#x21d2; #{@appell}"), vorkurs_test_path(test.id), class:"#{@disabled} btn btn-block btn-#{@bootstrap_class}" %>
				<%=raw (@result.nil?)? "":"<span class='result badge badge-important'>#{@result}%</span>" %>
			</div>

	<% end %>
	<% if (!@user.nil?) && @user.completed_all_tests? %>
		<div class="alert alert-info">
	  		Nach ihrem Testergebniss zu urteilen, empfehlen wir ihnen, den <strong>Grundkurs</strong> und einen <strong>Spezialisierungskurs</strong> zu machen.
		</div>
	<% end %>
</div>







<% #Step 3
	@disabled = @user.nil?
	@registered_for_courses = (!@user.nil?) && @user.courses.count > 0
	@registered_course_levels = (@user.nil?)?[]:@user.courses.collect{|course| course.course_level}
	@unregistered_courses = {}
	@courses.each do |course_level, course| 
		unless @registered_course_levels.include? course_level 
			@unregistered_courses[course_level] = course
		else 
			#{"#{course_level}" => course}
		end 
	end

%>

<div class="<%=(@disabled)? "disabled":""%>-step step3">
	<%= form_tag create_multiple_enrollments_path, method: :post, class: "enrollment" do %>
		<h2>Schritt 3 <%if(@registered_for_courses)%><span class='check'>&#x2714;</span><% end %></h2>

		<% if @registered_for_courses %>
			<p>Registrieren Sie sich für folgende Kurse:</p>		
			<ul>
				<% @user.courses.each do |course|%>
					<li><%=course.course_name%></li>
				<% end %>
			</ul>

			<% if @unregistered_courses.count > 0 %>
				<p>Sie können sich noch immer registrieren:</p>
			<% end %>
		<% else %>
			<p>Registrieren Sie sich für Kurse:</p>
		<% end %>
		
		<% if @unregistered_courses.count > 0 %>
			<% @unregistered_courses.each do |course_level,courses_of_this_level| %>
				<% if courses_of_this_level.count == 1 %>
					<% this_course = courses_of_this_level[0] %>
					<% this_id = this_course.id %>
					<% this_title = courses_of_this_level[0].title %>
					<%= label_tag "course_ids[#{this_id}]" do %>
						<%= check_box_tag "course_ids[#{course_level}][]", this_id, false,
								id: "course_ids_#{this_id}", 
								disabled: @disabled
						%>
						<strong><%= this_title %></strong>
					<% end %>

				<% else %>
					<%= label_tag "#{course_level}_level" do %>
						<%= check_box_tag "#{course_level}_level", course_level, false,
								disabled: @disabled,
								class: "level_checkbox"
						%>
					<%="<strong>#{course_level}</strong> für:".html_safe %>
					<% end %>

					<div class="<%=course_level%>_level sublevel">
						<% courses_of_this_level.each do |course| %>
							<% this_id = course.id %>
							<% this_title = course.title %>
							<%= label_tag "course_ids[#{this_id}]" do %>
								<%= radio_button_tag "course_ids[#{course_level}][]", this_id, false,
										id: "course_ids_#{this_id}", 
										disabled: true
								%>
								<%=this_title%>
							<% end %>
						<% end %>
					</div>
				<% end %>
				
			<% end %>
			<%=submit_tag "Verbindlich anmelden", disabled: @disabled, class: "btn" %>
		<% end %>

	<% end %>

</div>
