<div>	
	<% if @user.nil? %>
		<h2>Schritt 1</h2>

		<a href="/users/new" class="btn btn-block">Account erstellen/umwandeln</a>
		<div class="or">oder</div>
		<div class="login">
			<%=render 'sessions/login'%>
		</div>
	<% elsif @user.preregistered? %>
		<h2>Schritt 1</h2>

		<p>Vorregistriert mit der E-Mail-Adresse: <b><%=@user.email%></b></p>
		<p><%=link_to "Vervollständigen Sie jetzt ihren Account!", edit_user_path(@user.id), class:"btn btn-info" %></p>
	<% elsif @user.registered? || @user.role > User::ROLES[:registered] %>
		<h2>Schritt 1 <span class="check">&#x2714;</span></h2>
		Hallo<%=(@user && @user.name)? raw(" <b>#{@user.name}</b>"): ''%>,
		<p>Registriert mit der E-Mail-Adresse: <b><%=@user.email%></b></p>
		<p><%=link_to "Hier können Sie ihre Angaben ändern", edit_user_path(@user.id), class:"btn btn-info" %></p>
	<% end %>
</div>