<%= render "teaser" %>

<% if Settings.mode == "preregistration" %>
	<% unless @user.nil? %>
		<section id="signup">
			<% if Settings.mode == "preregistration" %>
				<h1>Interesse?</h1>
				<p>Erstellen Sie einen Account und wir halten Sie auf dem Laufenden.</p>
			<% else %>
				<h1>Neu Registrieren</h1>
				<p>Bitte geben Sie hier Ihre E-Mail-Adresse die Studiengänge an, für die Sie sich interressieren. Danach bekommen Sie eine E-Mail mit weiteren Informationen.</p>
			<% end %>
			<%=render 'users/newform', :locals => {:user => @user} %>
		</section>
	<% end %>
<% end %>

<% if Settings.mode == "registration" %>

	<section id="howto">
		<h1><%= editable_text "home.registration_started" %></h1>
		<%=render 'howto'%>
	</section>
<% end %>

<% if Settings.mode == "closed" %>

	<section id="howto">
		<h1><%= editable_text "home.title_registration_closed" %></h1>
		<%=render 'howto'%>
	</section>
<% end %>

<%= render 'features' %>

