<section id="features">
  <div>
    <h2><%=editable_text "home.feature.1.head"%></h2>
    <p><%=editable_text "home.feature.1.content"%></p>
  </div>
  <div>
    <h2><%=editable_text "home.feature.2.head"%></h2>
    <p><%=editable_text "home.feature.2.content"%></p>
  </div>
  <div>
    <h2><%=editable_text "home.feature.3.head"%></h2>
    <p><%=editable_text "home.feature.4.content"%></p>
  </div>

  <div>
    <h2><%=editable_text "home.feature.4.head"%></h2>
    <p><%=editable_text "home.feature.4.content"%></p>
  </div>
  <div>
    <h2><%=editable_text "home.feature.5.head"%></h2>
    <p><%=editable_text "home.feature.5.content"%><p>
  </div>
  <div>
    <p><%=editable_text "home.feature.6.content"%><p>
  </div>

</section>
