<section id="features">
  <div>
    <h2><%=editable_text "home.feature.1.head"%></h2>
    <%=editable_text "home.feature.1.content"%>
  </div>
  <div>
    <h2><%=editable_text "home.feature.2.head"%></h2>
    <%=editable_text "home.feature.2.content"%>
  </div>
  <div>
    <h2><%=editable_text "home.feature.3.head"%></h2>
    <%=editable_text "home.feature.4.content"%>
  </div>

  <div>
    <h2><%=editable_text "home.feature.4.head"%></h2>
    <%=editable_text "home.feature.4.content"%>
  </div>
  <div>
    <h2><%=editable_text "home.feature.5.head"%></h2>
    <%=editable_text "home.feature.5.content"%>
  </div>
  <div>
    <%=editable_text "home.feature.6.content"%>
  </div>

</section>
