<!DOCTYPE html>
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta charset='utf-8'> 
	<title><%= Settings.design %> Vorkurse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= mathjax_tag :config => "TeX-AMS_HTML-full.js" %>
  <%= javascript_include_tag "mathjax_config" %>
</head>
<body class="<%=Settings.design.downcase %>-design">
  <div id="user_bar"><%= render "user_bar" %></div>
  <header>
    <div class="header">
    <%= link_to root_url do %>
			<% if Settings.design.downcase == "ovgu" %>
				<%= image_tag "logo.png", :class=>"logo", :id=>"mainLogo" %>
				<span class="vorkurs">Vorkurse</span>
			<% elsif %>
				<span class="fin">FIN</span><span class="dots">::</span><span class="vorkurs">Vorkurs</span>
			<% end %>
    <% end %>
    <nav>
      <script>
      window.onload = function () {
        //jsMath.Autoload.Check();
        jsMath.Process(document);
      }
      </script>
    <ul>
    <% unless Settings.menu.additional_links.nil? %>
      <% Settings.menu.additional_links.each do |name, link| %> 
          <li><%= link_to name, link %></li>
      <% end %>
    <% end %>
    <% if Settings.menu.downloads %>
      <% if current_user %>
        <li><%= link_to "Downloads", downloads_path %></li>
      <% end %>
    <% end %>
    <% if Settings.menu.my_group %>
      <% if current_user && (current_user.groups.count > 0 || current_user.role >= User::ROLES[:tutor]) %>
       <%# <li><%= link_to "Downloads", group_path(current_user.) %></li> 
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Meine Gruppen
                <span class="caret"></span>
              </a>
            <ul class="dropdown-menu" data-container="body">
              <% (current_user.groups | current_user.tutor_of).each do |group|%>
                <li><%= link_to "#{group.user.name} #{(group.room.nil? || group.room=="") ? "" : "(#{group.room})"}", group_path(group) %></li>
                <% end %>
            </ul>
          </li>
      <% end %>
    <% end %>
    <% if Settings.menu.programs %>
        <li><%= link_to "Programm", schedules_path %></li>
    <% end %>
    <% if Settings.menu.news %>
        <li><%= link_to "Neuigkeiten", posts_path %></li>
    <% end %>
    <% if Settings.menu.courses %>
        <li><%= link_to "Kurse", courses_path %></li>
    <% end %>
    <% if Settings.menu.legals %>
        <li><%= link_to "Impressum", legal_path %></li>
    <% end %>
      </ul>
    </nav>
  </div>
  </header>
  <% flash.each do |key, message| %>
    <%= content_tag :div, message, :class => twitterized_type(key) %>
  <% end %>
    <%= yield %>
</body>
</html>
