<!DOCTYPE html>
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta charset='utf-8'> 
	<title><%= Settings.design %> Vorkurse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= mathjax_tag :config => "TeX-AMS_HTML-full.js" %>
  <%= javascript_include_tag "mathjax_config" %>
</head>
<body class="<%=Settings.design.downcase %>-design">
  <div id="user_bar"><%= render "user_bar" %></div>
  <header>
    <%= link_to root_url do %>
			<% if Settings.design.downcase == "ovgu" %>
				<%= image_tag "logo.png", :class=>"logo", :id=>"mainLogo" %>
				<span class="vorkurs">Vorkurse</span>
			<% elsif %>
				<span class="fin">FIN</span><span class="dots">::</span><span class="vorkurs">Vorkurs</span>
			<% end %>
    <% end %>
    <nav>
      <script>
      window.onload = function () {
        //jsMath.Autoload.Check();
        jsMath.Process(document);
      }
      </script>
    <ul>
    <% if Settings.menu.downloads %>
      <% if current_user %>
        <li><%= link_to "Downloads", downloads_path %></li>
      <% end %>
    <% end %>
    <% if Settings.menu.programs %>
        <li><%= link_to "Programm", schedules_path %></li>
    <% end %>
    <% if Settings.menu.news %>
        <li><%= link_to "Neuigkeiten", posts_path %></li>
    <% end %>
    <% if Settings.menu.courses %>
        <li><%= link_to "Kurse", courses_path %></li>
    <% end %>
    <% if Settings.menu.legals %>
        <li><%= link_to "Impressum", legal_path %></li>
    <% end %>
      </ul>
    </nav>
  </header>
  <% flash.each do |key, message| %>
    <%= content_tag :div, message, :class => twitterized_type(key) %>
  <% end %>
    <%= yield %>
</body>
</html>
